@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;700&display=swap');
body {
    background: #121212;
    margin: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    scroll-behavior: smooth;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-corner
{
	border-radius: 10px;
	/*background-color: rgb(24, 25, 26);*/
	background-color: transparent;
}

::-webkit-scrollbar
{
	border-radius: 20px;
	width: 12px;
	height: 12px;
	/* background-color: rgb(24, 25, 26); */
background-color: transparent;
}

::-webkit-scrollbar-thumb
{
	border-radius: 20px;
	background-color: rgba(100, 100, 100, .3);
}

::-webkit-scrollbar-thumb:hover
{
	border-radius: 20px;
	background-color: rgba(100, 100, 100, .5);
}

::-webkit-scrollbar-thumb:active
{
	border-radius: 20px;
	background-color: rgba(100, 100, 100, .8);
}