h1 {
    color: white;
    text-align: center;
    margin-right: 2%;
}

.guild_container {
    margin: 14px 10%;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    background: hsla(0, 0%, 100%, 0.08);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-top-left-radius: 35px 50%;
    border-bottom-left-radius: 35px 50%;
    border-top-right-radius: 10px 50%;
    border-bottom-right-radius: 10px 50%;
}

.guild_container .guild_icon {
    flex-basis: 64px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 700;
    font-size: large;
    color: white;
    border: 3px white solid;
    display: block;
    overflow: hidden;
    border-radius: 100%;
    background: hsla(0, 0%, 100%, 0.08);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    height: 64px;
    width: 64px;
    line-height: 64px;
    text-align: center;
}

.guild_container p.guild_name {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: large;
    color: white;
}

.guild_container .guild_action {
    display: flex;
    margin-right: 4%;
    width: 60px;
}

.guild_container .guild_action a {
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 300;
    font-size: large;
    position: relative;
    margin: auto;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    transition: background, color, ease-out .2s;
}

.guild_container .guild_action a:hover {
    background: rgba(255, 160, 180, .4);
    color: white;
}

.invite {
    opacity: .6;
    font-family: 'Noto Sans TC', sans-serif;
}

.invite .guild_name {
    font-weight: 300 !important;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .guild_container {
        margin: 14px 14px;
    }
    
    .guild_container .guild_action {
        margin-right: 15px;
    }
}