.header {
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: rgba(255, 160, 180, .9);
    backdrop-filter: blur(2px);
    z-index: 255;
}

.header .name {
    display: block;
    margin-left: 4%;
}

.header .name a {
    color: rgba(255, 255, 255, .9);
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 700;
    text-decoration: none;
    transition: background, color, ease-out .2s;
}

.header .name a:hover {
    color: white;
}

.header .nav {
    margin-left: 2%;
    display: inline-flex;
    flex-wrap: nowrap;
    gap: 12px;
}

.header .nav a {
    margin: auto;
    color: white;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    transition: background, color, ease-out .2s;
}

.header .nav a:hover {
    color: rgb(255, 160, 180);
    background: hsla(0, 0%, 100%, .9);
}

.header .user {
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    margin-left: auto;
    margin-right: 4%;
    width: 400px;
}

.header .user .user_avatar {
    height: 50px;
    width: 50px;
    margin: auto 0;
    margin-left: auto;
    border-radius: 50%;
}

.header .user img.user_avatar {
    border: 3px white solid;
}

.header .user .user_name {
    text-align: right;
    color: white;
    margin: auto 0;
    margin-left: 10px;
}

.header .user .user_name:empty {
    width: 100px;
}

.header .user .user_name:not(:empty)::after {
    content: "/";
    margin-left: 10px;
}
.header .user .button {
    margin-left: 10px;
}

.header .button {
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
    position: relative;
    margin: auto 0;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    transition: background, color, ease-out .2s;
}

.header .button:hover {
    color: rgb(255, 160, 180);
    background: hsla(0, 0%, 100%, .95);
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .header .user .user_name {
        display: none;
    }
}