.nav h3 {
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Noto Sans TC', sans-serif;
    margin: 15;
}
.nav {
    overflow: hidden;
    white-space: nowrap;
    position: fixed;
    top: 0;
    left: 0;
    width: 18%;
    height: 100%;
    background: #222;
    color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: width ease-in-out .2s;
    z-index: 1000;
}
.nav ul {
    padding-inline-start: 16px;
    list-style: none;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 300;
}
.nav ul.navlist {
    margin: 20px;
}
.nav li a {
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .nav {
        width: 10px;
    }
    .nav:hover {
        width: 25%;
    }
    .nav h3 {
        line-height: 80px;
        font-size: 24px;
    }
    .nav ul li {
        padding-inline-start: 16px;
        font-size: 20px;
    }
    .nav > * {
        display: none;
    }
    .nav:hover > * {
        display: unset;
    }
}