<head>
    <link href="/css/base.css" rel="stylesheet" type="text/css">
    <link href="/css/dashboard.css" rel="stylesheet" type="text/css">
</head>

<body>
    <%- include("partials/header", { bot, user, path, title: "" }) %>

    <a href="/dashboard">伺服器列表</a>

    <%- include("partials/footer") %>