<head>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/nav.css">
</head>
    <div class="nav">
        <h2>RLCraft</h2>
        <ul class="navlist">
            <li>概述</li>
            <li><a href="RLCraft/installation">安裝</a></li>
        </ul>
    </div>