<head>
    <link href="/css/base.css" rel="stylesheet" type="text/css">
    <style>
        .error {
            margin: 10%;
        }
        h2 {
            font-family: 'Noto Sans TC', sans-serif;
            font-size: 64px;
            margin: 5px;
            color: white;
        }
        h3 {
            font-family: 'Noto Sans TC', sans-serif;
            font-size: 32px;
            margin: 5px;
            margin-left: 1em;
            color: lightgray;
        }
    </style>
</head>

<body>
    <div class="error">
        <h2>404</h2>
        <h3>Cannot find <%= url %></h2>
    </div>